nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
  #navbar.navbar-nav.collapse.navbar-toggleable-sm
    .container
      a.navbar-brand(href=`${baseUrl}/`)
        i.icn-logo.material-icons bookmark_border
        | Bookworm
      .nav-items.clearfix
        a.nav-item.nav-link(href=`${baseUrl}/register`) Sign Up
        a.nav-item.nav-link(href=`${baseUrl}/about`) About
        a.nav-item.nav-link(href=`${baseUrl}/contact`) Contact
        a.nav-item.nav-link(href=`${baseUrl}/profile`) My Profile

      a.btn.btn-info.pull-md-right(href=`${baseUrl}/login`) Login

